@using HtmxCSRazor.Todo
@model IEnumerable<TodoItem>

@foreach (var todo in Model)
{
    <todo-item id="todo-@todo.Id" class="my-1">
        <div slot="display" id="todo-@todo.Id-display" class="content-display flex flex-row">
            <div class="mr-5">@todo.Text</div>
            <button class="btn" _="on click send toggleTodoState">Edit</button>
        </div>
        <div slot="edit" id="todo-@todo.Id-edit" class="content-edit flex flex-row">
            <form hx-target="#todos" hx-get="/" hx-swap="none">
                <input type="text" value="@todo.Text" name="todoNewValue" class="mr-5"/>
                <button type="submit" class="btn" _="on click send toggleTodoState">Save</button>
                <input type="hidden" name="id" value="@todo.Id"/>
            </form>
        </div>
    </todo-item>
}